<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="false">
            
		<assemblies>
           <add assembly="CrystalDecisions.CrystalReports.Engine, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
           <add assembly="CrystalDecisions.Shared, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
           <add assembly="CrystalDecisions.ReportSource, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
           <add assembly="CrystalDecisions.Web, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</assemblies>
    </compilation>

    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows" /> 

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
	localOnly="true"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
   <!-- request length is 20MB -->
   <httpRuntime maxRequestLength="20000"/>

	<httpHandlers>
		<add verb="*" path="*.csp" type="BusinessObjects.Enterprise.WebComponentAdapter.WCAHandler,BusinessObjects.Enterprise.WCA, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
		<add verb="*" path="*.cwr" type="BusinessObjects.Enterprise.WebComponentAdapter.WCAHandler,BusinessObjects.Enterprise.WCA, Version=11.0.3300.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    </httpHandlers>

    <trust level="Full" originUrl="" />
    <pages enableSessionState="true" />

    <httpModules>
        <clear />
        <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>

 </system.web>

<appSettings>
	<!-- This is a virtual path to crystalreportviewers directory, default to /cyrstalreportviewers11 -->
	<add key="path.dhtmlViewer" value="/crystalreportviewers11"/>

	<!-- This is the default page to handle viewing requests. -->
	<add key="viewer.defaultPage" value="viewrpt.aspx"/>

	<add key="defaultPage" value="enterprise11/desktoplaunch/en/default.htm"/>

	<!-- The friendly name of current WCA, default %HOST%.wcs -->
	<add key="wca.Name" value="afarouk.dotnet_wca"/>	

	<!-- This is the name of the CMS that you would like to connect to, default %HOST%. WCS_NAME_SERVER-->
	<add key="connection.cms" value="afarouk:6400"/>

	<!-- WCS_CRI_TIMEOUT -->
	<add key="connection.criTimeout" value=""/>

	<!-- SOCKS URI is the URI style string representation of SOCKS server configuration. The SOCKS
	URI follows FTP and Telnet SOCKS URI convertion.
	socks://version;[username:password@]hostname:port[;version;[username:password@]hostname:port]... 
	example: socks://4;sockssvr1:1080;5;sockssvr2:1080;5;guest:password@sockssvr3:1080
	Note: This SOCKS set will override any registry setting for the given server name -->
	<add key="connection.socksUri" value=""/>
	
	<!-- WCA viewrpt plugin configuration -->
	
	<!-- Full path to location of temporary image files -->
	<add key="crimage.tempImageDir" value=""/>
	
	<!-- "true" or "false" value governing whether drill down is permitted. -->
	<add key="viewrpt.drillDown" value=""/>
	
	<!-- "true" or "false" value determining whether a group tree will be generated. -->
	<add key="viewrpt.groupTreeGenerate" value=""/>

	<!-- "true" or "false" value determining whether a group tree will be shown by default if one is generated -->	
	<add key="viewrpt.groupTreeShow" value=""/>
	
	<!-- "true" or "false" value determining whether a refresh button will be shown. -->
	<add key="viewrpt.refresh" value=""/>
	
	<!-- "true" or "false" value determining whether a search button will be shown. -->
	<add key="viewrpt.search" value=""/>
	
	<!-- "true" or "false" value determining whether an export button will be shown. -->
	<add key="viewrpt.export" value=""/>
	
	<!-- "true" or "false" value determining whether a zoom button will be shown. -->
	<add key="viewrpt.zoom" value=""/>
	
	<!-- "true" or "false" value determining whether a print button will be shwon. -->
	<add key="viewrpt.print" value=""/>
	
	<!-- "true" or "false" value determining whether a product logo will be shown. -->
	<add key="viewrpt.logo" value=""/>
	
	<!-- "true" or "false" value determining whether a tool bar will be shown. -->
	<add key ="viewrpt.toolbar" value=""/>
	
	<!-- WCA viewrpt plugin configuration End -->
	
	<!-- logging for WCA itself, FileName of the logfile including full real pth to file, excluding extension.
	Defaults to path will be %CRYSTALDIR%/logging/dotnet_wca_%DATE% -->
	<add key="wcalog" value=""/>

	<!-- for enable slog, value will be used to inintialize slog -->
	<!-- <add key="log" value=""/> -->	
</appSettings>

<system.diagnostics>
	<trace autoflush="true" indentsize="2" />
	<switches>
		<!-- turn on wca logging, by default only log error and warning -->
		<add name="wcaTraceSwitch" value="2" />
	</switches>
</system.diagnostics>
  
</configuration>
