.pePromptFieldset
{    
    border: 1px solid;
    border-color: #A3A3BC;
    padding: 0;
}

.peRangeFieldsetLegend
{
    background-color:#E4E4EC;
    color: black;
    font-family: Arial, verdana;
    font-size: 8pt;
    font-weight: bold;
}

.pePromptBorder   
{
    border-top: 1px solid #FFFFFF;
    border-bottom: none;
    border-left: none;
    border-right: none;    
}

.pePromptUnitHeader   
{
    background-color: #E4E4EC;
    color: black;
    font-family: Arial, verdana;
    font-size: 8pt;
    font-weight: bold;    
    border-bottom: 1px solid #A3A3BC;
}

.pePromptUnitHeaderTextLeft   
{
    background-color: #E4E4EC;
    color: black;
    font-family: Arial, verdana;
    font-size: 8pt;
    font-weight: bold;        
}

.pePromptUnitHeaderTextRight
{
    background-color: #E4E4EC;
    color: black;
    font-family: Arial, verdana;
    font-size: 8pt;   
}

.pePromptElement  
{
    background-color: #E4E4EC;    
}

.pePromptElementText 
{
    color: black;
    font-family: Arial, verdana;
    font-size: 8pt;
}

.pePromptingText  
{
    color: black;
    font-family: Arial, verdana;
    font-size: 8pt;
}

.pePromptRuler    
{
    color: #A3A3BC;
    height: 1px;
}

.pePromptMessage
{
    color: black;
    font-family: Arial, verdana;
    font-weight: bold;
    font-size: 8pt;
}
            
.pePromptTextBox 
{
    font-size: 8pt;
    background-color: #FFFFFF;
    font-family: Arial, verdana;
    width: 300px;
}

td.pePromptButtonSpacer
{
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
}

td.pePromptButton
{
	color: black;
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	text-decoration:none;
	cursor: pointer;
}

div.pePromptButton a
{
	color: black;
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	text-decoration:none;
	cursor: pointer;
}

div.pePromptButton a:hover
{
	color: #0000FF;	
}

.pePromptDropDown 
{
    font-size: 8pt;
    font-family: Arial, verdana;
    width: 300px;
}

.pePromptListBox
{
    font-size: 8pt;
    font-family: Arial, verdana;
    width: 300px;    
}

.peExpandCollapseImageColumn
{
    width: 3%;
}          

.peExpandCollapseTitleColumn
{
    text-align: left;
} 

.pePromptUnitTable      
{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-style:hidden;
}

.peExpandCollapseAnchor
{
    text-decoration: none;
    font-size: 8pt;
    font-family: Arial, verdana;
    font-weight: bold;
    color: black;
}

.peExpandCollapseImage
{
    align: middle;
    border: 0;
}                
