<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Requests</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/common/common*.xml,
			/WEB-INF/config/security/security*.xml,
			/WEB-INF/config/i18n/i18n*.xml,
			/WEB-INF/config/auditing/auditing*.xml,
			/WEB-INF/config/dbUpdate/dbUpdate*.xml,
			/WEB-INF/config/hr/hr*.xml,
			/WEB-INF/config/requestsApproval/requestsApproval*.xml
			/WEB-INF/config/timesheet/timesheet*.xml
			/WEB-INF/config/rest/rest*.xml
		</param-value>
	</context-param>
	
	<!--
	<context-param>
        <param-name>mailMgr</param-name>
        <param-value>ticketmanager@4s-systems.com</param-value>
    </context-param>
    
    <context-param>
        <param-name>mailPass</param-name>
        <param-value>mgemge</param-value>
    </context-param>
    
    <context-param>
        <param-name>SMTPServer</param-name>
        <param-value>smtp.tedata.net</param-value>
    </context-param>
    
    <context-param>
        <param-name>portServer</param-name>
        <param-value>25</param-value>
    </context-param>
    -->
    
	<context-param>
        <param-name>pageSize</param-name>
        <param-value>15</param-value>
    </context-param>
    
    <context-param>
    	<param-name>addSubtractNo</param-name>
    	<param-value>2,3,4,7</param-value>
    </context-param>
    
    <context-param>
    	<param-name>screeningNo</param-name>
    	<param-value>5</param-value>
    </context-param>

 	<!-- <context-param>
        <param-name>DriverClass</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </context-param>
    
    <context-param>
        <param-name>DataBaseURL</param-name>
        <param-value> jdbc:oracle:thin:@10.8.2.109:1521:lehaa</param-value>
    </context-param>
    <context-param>
        <param-name>UserName</param-name>
        <param-value>lotus_pay2012</param-value>
    </context-param>
    <context-param>
        <param-name>PassWord</param-name>
        <param-value>lehaa_pay2012</param-value>
    </context-param> -->
     <context-param>
        <param-name>start</param-name>
        <param-value>off</param-value>
    </context-param>
	<listener>
        <listener-class>
            com._4s_.requestsApproval.web.action.CreateDatabase
        </listener-class>
    </listener>
	<!-- ========================Security Filters ======================== -->
	<!-- <filter>
		<filter-name>Acegi-Integration</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.acegisecurity.context.HttpSessionContextIntegrationFilter
			</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>Acegi-Authentication</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.acegisecurity.ui.webapp.AuthenticationProcessingFilter
			</param-value>
		</init-param>
	</filter>
	
	-->
	
	<!-- this one is never used -->
	<!--	<filter>-->
	<!--        <filter-name>Acegi HTTP BASIC Authorization Filter</filter-name>-->
	<!--        <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>-->
	<!--        <init-param>-->
	<!--            <param-name>targetClass</param-name>-->
	<!--            <param-value>org.acegisecurity.ui.basicauth.BasicProcessingFilter</param-value>-->
	<!--        </init-param>-->
	<!--    </filter>-->


	

<!-- 
	<filter>
		<filter-name>Acegi-Security</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetBean</param-name>

			<param-value>securityEnforcementFilter</param-value>
		</init-param>
	</filter>
 -->

	<!-- Spring Security 3.1.7 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ///////////////////// -->
	

	<!--	<filter-mapping>-->
	<!--      <filter-name>Acegi HTTP BASIC Authorization Filter</filter-name>-->
	<!--      <url-pattern>/*</url-pattern>-->
	<!--    </filter-mapping>-->
	<!--	-->

	<!-- <filter-mapping>
		<filter-name>Acegi-Integration</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Acegi-Authentication</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Acegi-Security</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	 -->
	
	<!-- ===================================================================================================== -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<listener>
        <listener-class>com._4s_.security.service.MyHttpSessionEventPublisher</listener-class>
	</listener>

<!--  to prevent concurrent logins -->
<!--	<listener>-->
<!--	  <listener-class>org.acegisecurity.ui.session.HttpSessionEventPublisher</listener-class>-->
<!--	</listener>-->


	<!--
		One of the annoying things about JSPs is all of the dynamic (non-rendered) parts of the page still produce line breaks. This means that if you do a view-source, you'll likely see large blocks of whitespace.
		The good news is you can get rid of this whitespace if you're using Tomcat 5.5.x. Just locate the "jsp" servlet in $CATALINA_HOME/conf/web.xml and add the following <init-param>:
		<init-param>
		<param-name>trimSpaces</param-name>
		<param-value>true</param-value>
		</init-param>    
	-->
	<!--  common servlet -->
	<servlet>
		<servlet-name>common</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Add SiteMesh servlets for Velocity and FreeMarker here -->

	<servlet-mapping>
		<servlet-name>common</servlet-name>
		<url-pattern>/common/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>security</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<!--     Add SiteMesh servlets for Velocity and FreeMarker here -->

	<servlet-mapping>
		<servlet-name>security</servlet-name>
		<url-pattern>/security/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>i18n</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<!--     Add SiteMesh servlets for Velocity and FreeMarker here -->

	<servlet-mapping>
		<servlet-name>i18n</servlet-name>
		<url-pattern>/i18n/*</url-pattern>
	</servlet-mapping>

	<!--     Add SiteMesh servlets for Velocity and FreeMarker here -->
	
	<servlet>
		<servlet-name>auditing</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>

	<!--     Add SiteMesh servlets for Velocity and FreeMarker here -->
	<!---->
	<servlet-mapping>
		<servlet-name>auditing</servlet-name>
		<url-pattern>/auditing/*</url-pattern>
	</servlet-mapping>
	


	<!--     Add SiteMesh servlets for Velocity and FreeMarker here -->


	
	<servlet>
		<servlet-name>dbUpdate</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>

	<!--     Add SiteMesh servlets for Velocity and FreeMarker here -->

	<servlet-mapping>
		<servlet-name>dbUpdate</servlet-name>
		<url-pattern>/dbUpdate/*</url-pattern>
	</servlet-mapping>
	


<!-- //////////////////////////////////////////////// -->
<!-- HR -->

	<servlet>
		<servlet-name>hr</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hr</servlet-name>
		<url-pattern>/hr/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- requestsApproval -->

	<servlet>
		<servlet-name>requestsApproval</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>14</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>requestsApproval</servlet-name>
		<url-pattern>/requestsApproval/*</url-pattern>
	</servlet-mapping>

	<!-- timesheet -->

	<servlet>
		<servlet-name>timesheet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>timesheet</servlet-name>
		<url-pattern>/timesheet/*</url-pattern>
	</servlet-mapping>

	

	<!--  rest service -->
	<servlet>
		<servlet-name>restServices</servlet-name>
 		<servlet-class>
 			org.springframework.web.servlet.DispatcherServlet
 		</servlet-class>
 		<load-on-startup>16</load-on-startup>
	</servlet>
	<servlet-mapping>
		 <servlet-name>restServices</servlet-name>
		 <url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<!-- Force Encoding to UTF-8 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<!-- Redirects to "login.jsp" for dispatcher handling -->
		<welcome-file>web/security/index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/security/errorCode403.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/security/errorCode404.html</location>
	</error-page>
	
<!--	<context-param>-->
<!---->
<!--	<param-name>host</param-name>-->
<!--	<param-value>smtp.gmail.com</param-value>-->
<!--	</context-param>-->
<!--	-->
<!--	<context-param>-->
<!--	<param-name>username</param-name>-->
<!--	<param-value>xxx</param-value>-->
<!--	</context-param>-->
<!--	-->
<!--	<context-param>-->
<!--	<param-name>password</param-name>-->
<!--	<param-value>xxx</param-value>-->
<!--	</context-param>-->
<!--	-->
<!--	<context-param>-->
<!--	<param-name>to</param-name>-->
<!--	<param-value>xxx</param-value>-->
<!--	-->
<!--	</context-param>-->

<jsp-config>
<taglib>
<taglib-uri>http://www.4s-systems.com/tags</taglib-uri>
<taglib-location>/WEB-INF/4s.tld</taglib-location>
</taglib>
<taglib>
<taglib-uri>http://www.4s-systems.com/tags/common</taglib-uri>
<taglib-location>/WEB-INF/4s.tld</taglib-location>
</taglib>
</jsp-config>


<security-constraint>
    <web-resource-collection>
        <web-resource-name>Requests</web-resource-name>
        <url-pattern>/requestsApproval/*</url-pattern>
    </web-resource-collection>
    <!-- auth-constraint goes here if you requre authentication -->
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Requests</web-resource-name>
        <url-pattern>/security/*</url-pattern>
    </web-resource-collection>
    <!-- auth-constraint goes here if you requre authentication -->
     <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Requests</web-resource-name>
        <url-pattern>/common/*</url-pattern>
    </web-resource-collection>
    <!-- auth-constraint goes here if you requre authentication -->
   <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Requests</web-resource-name>
        <url-pattern>/dbUpdate/*</url-pattern>
    </web-resource-collection>
    <!-- auth-constraint goes here if you requre authentication -->
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>



<security-constraint>
    <web-resource-collection>
        <web-resource-name>Requests</web-resource-name>
        <url-pattern>/api/*</url-pattern>
    </web-resource-collection>
</security-constraint>
<!--
<security-constraint>
    <web-resource-collection>
        <web-resource-name>Requests</web-resource-name>
        <url-pattern>/api/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>-->

	
</web-app>