<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration status="TRACE" monitorInterval="10" xmlns:log4j="http://jakarta.apache.org/log4j/"> -->
<Configuration status="TRACE">
     <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} (%F:%L) - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com._4s_" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
       </Logger>
        <Logger name="org.springframework" level="Error" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger>
         <Logger name="org.hibernate" level="ERROR" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.security.web.access" level="FATAL" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.security.web.util.matcher.AntPathRequestMatcher" level="ERROR" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger>
         <Logger name="org.hibernate.cfg.AnnotationBinder" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </Logger>
        <logger name="org.hibernate.mapping.PrimaryKey" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.persister.entity.AbstractPropertyMapping" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.springframework.security" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger> 
        <logger name="org.springframework.security.web.FilterChainProxy" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.springframework.security.access" level="DEBUG" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.springframework.beans.CachedIntrospectionResults" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.springframework.security.web.util.matcher.AntPathRequestMatcher" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
       <logger name="org.hibernate.type.BasicTypeRegistry" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.boot" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
       <logger name="org.hibernate.id.factory.internal.DefaultIdentifierGeneratorFactory" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.springframework.core.io.support" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.cfg.Ejb3Column" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
         <logger name="org.hibernate.loader.plan.build.spi.LoadPlanTreePrinter" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.persister.walking.spi.MetamodelGraphWalker" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.loader.plan.build.internal" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.loader.plan.exec.internal.LoadQueryJoinAndFetchProcessor" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.loader" level="FATAL" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
         <logger name="org.hibernate.cfg.annotations" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.cfg.AbstractPropertyHolder" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.persister" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <logger name="org.hibernate.cfg.CollectionSecondPass" level="ERROR" additivity="false">
        	<AppenderRef ref="LogToConsole"/>
        </logger>
        <Logger name="com._4s_.common" level="DEBUG" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger> 
        <Logger name="com._4s_.i18n" level="FATAL" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger> 
        <Logger name="com._4s_.security" level="DEBUG" additivity="false">
        	 <AppenderRef ref="LogToConsole"/>
        </Logger> 
        <Root level="DEBUG">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>

</Configuration>

