<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
     <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %Logger{36} (%F:%L) - %msg%n"/>
        </Console>
    </Appenders>
     
     
    <Loggers>   
        <Root level="ERROR">
            <AppenderRef ref="LogToConsole"/>
        </Root>
      
      <Logger name="com._4s_.i18n" additivity="false" level="FATAL">
            <AppenderRef ref="LogToConsole"/>
      </Logger>
      
      <Logger name="com.zaxxer" additivity="false" level="FATAL">
            <AppenderRef ref="LogToConsole"/>
      </Logger>
      
     <Logger name="org.springframework.security.web.util.matcher.AntPathRequestMatcher" additivity="false" level="FATAL">
            <AppenderRef ref="LogToConsole"/>
      </Logger>
        
     <Logger name="org.springframework.security.web.FilterChainProxy" additivity="false" level="FATAL">
            <AppenderRef ref="LogToConsole"/>
      </Logger>
         
     </Loggers>  

</Configuration>

