.menu , .formHeader , .spacer{
	display: none;
}

#reportWindow, .niceForm {
	border-style: none;
	border-width: 0px;
}

.tabularReport {
	margin: 0px;
	page-break-after: always;
}

@page {
  margin: 1cm;
}

.listTable {
	margin: 0px;
	page-break-after: always;
	border-style: none;
	border-width: 0px;
}